### Temporary Build Files ###
docker/broadcast/out
docker/node/out

### Maven ###
node/target
broadcast/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Secrets ###
node/src/main/resources/secrets.properties
node/src/main/resources/secrets-local.properties
node/src/main/resources/secrets-docker.properties
node/src/main/resources/application-unittests.properties
node/src/main/resources/keystore