# Force shell scripts to have appropriate line endings - otherwise bash will complain
*.bat eol=crlf
*.sh eol=lf

# Ignore bundled copy of Kafka for calculating language statistics
streamlet/docker/kafka/kafka/** linguist-vendored